---
const baseUrl = "https://festiva.no";
const items = [
  {
    name: "What is Festiva?",
    href: "#about",
  },
  {
    name: "Benefits",
    href: "#benefits",
  },
  {
    name: "Modules",
    href: "#modules",
  },
  {
    name: "FAQs",
    href: "/faqs",
  },
  {
    name: "Download",
    href: "#about",
  },
];
---

<div class="px-8 py-4">
  <header
    class="flex items-center justify-between w-full px-6 py-4 border-2 rounded-full border-grey1 bg-grey1/10"
  >
    <img src="images/logo1.png" alt="" class="w-32" />

    <nav class="hidden gap-6 text-sm font-semibold md:flex">
      {
        items.map((item, i) => {
          const isPageLink = item.href.startsWith("/");
          const fullHref = isPageLink
            ? `${baseUrl}${item.href}`
            : `${baseUrl}${item.href}`;

          return (
            <a href={fullHref} class="hover:text-p1">
              {item.name}
            </a>
          );
        })
      }
    </nav>
  </header>
</div>
