---
import CardGlass from "../ui/CardGlass.astro";

const negocios = [
  {
    icon: "/icons/search.svg",
    title: "Visibility",
    text: "Boost your venue’s presence and get discovered by more users",
    color: "bg-yellow",
  },
  {
    icon: "/icons/list_alt.svg",
    title: "Key Information",
    text: "Share essential details like hours, location, and contact info. All in one place.",
    color: "bg-blue",
  },
  {
    icon: "/icons/campaign.svg",
    title: "Direct Communication",
    text: "Launch promotions and connect with your audience instantly.",
    color: "bg-green",
  },
  {
    icon: "/icons/bars.svg",
    title: "Data Insights",
    text: "Access attendance stats and trend analytics to better understand your audience.",
    color: "bg-orange",
  },
];

const usuarios = [
  {
    icon: "/icons/lightbulb.svg",
    title: "Live Discovery",
    text: "Find real-time events happening around you.",
    color: "bg-yellow",
  },
  {
    icon: "/icons/list_alt.svg",
    title: "Event Details",
    text: "Get key info for every event — artists, hours, location, and more.",
    color: "bg-blue",
  },
  {
    icon: "/icons/distance.svg",
    title: "Smart Navigation",
    text: "Easily locate venues directly through the app.",
    color: "bg-green",
  },
  {
    icon: "/icons/diversity.svg",
    title: "Personalized Planning",
    text: "Get curated recommendations and plan your night out with friends.",
    color: "bg-orange",
  },
];
---

<section
  id="benefits"
  class="bg-darkB1 text-white min-h-screen py-16 px-6 md:px-20 flex flex-col relative overflow-hidden"
>
  <h2 class="text-4xl font-extrabold mb-12">BENEFITS</h2>

  <div class="flex flex-col md:flex-row gap-12 flex-1">
    <!-- Columna Izquierda: Negocios -->
    <div class="flex-1">
      <h3 class="text-2xl font-semibold mb-6">Festiva for Business</h3>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        {
          negocios.map(({ icon, title, text, color }) => (
            <CardGlass
              class="p-6 hover:shadow-yellow-400/10"
              data-aos="fade-up"
              data-aos-delay="100"
              data-aos-duration="600"
            >
              <div
                class={`w-8 h-8 rounded-full bg-yellow-500 mb-2 flex items-center justify-center ${color}`}
              >
                <img src={icon} alt={title} />
              </div>
              <div class="flex items-center">
                <h4 class="text-lg font-medium">{title}</h4>
              </div>
              <p class="text-sm mt-2 text-neutral-400">{text}</p>
            </CardGlass>
          ))
        }
      </div>
    </div>

    <div class="hidden md:block w-[2px] h-[800px] bg-grey2/20"></div>

    <!-- Columna Derecha: Usuarios con "escalón" -->
    <div class="flex-1 mt-12 md:mt-48">
      <h3 class="text-2xl font-semibold mb-6">Festiva for Users</h3>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        {
          usuarios.map(({ icon, title, text, color }) => (
            <CardGlass
              class="p-6"
              data-aos="fade-up"
              data-aos-delay="100"
              data-aos-duration="600"
            >
              <div
                class={`w-8 h-8 rounded-full bg-yellow-500 mb-2 flex items-center justify-center ${color}`}
              >
                <img src={icon} alt={title} />
              </div>
              <h4 class="text-lg font-medium">{title}</h4>
              <p class="text-sm mt-2 text-neutral-400">{text}</p>
            </CardGlass>
          ))
        }
      </div>
    </div>
  </div>

  <img
    src="images/circle_orange_bottom.png"
    alt="circle_orange"
    class="absolute bottom-0 left-0 w-24 sm:w-32 md:w-40 xl:w-48 2xl:w-56 z-0"
  />
  <img
    src="images/circle_yellow_right.png"
    alt="circle_yellow"
    class="absolute top-2 right-0 w-24 sm:w-32 md:w-40 xl:w-48 2xl:w-56 z-0"
  />
</section>
